.section
  .row
    .small-12.columns
      %h2= @trip.name.to_s
      %p= @trip.description.to_s
      = link_to "Trip invites: #{@trip.invites.count} invitations", new_trip_invite_path(@trip)
  .row
    .small-8.columns
      %h3.uppercase Places:
    .small-3.columns
      = link_to "Add destination", new_trip_destination_path(@trip), class: "button right-align"
.section
  .row
    .small-12.columns
      .frame
        %ul.slidee
          - @trip.destinations.each do |destination|
            %li
              .card
                .card-section
                  %h1= destination.name + ": " + destination.description
                  = render partial: "votes", locals: { votable: destination, votable_type: 'trip/destination', id_type: 'destination' }
                  = render partial: "comments", locals: { commentable: destination, commentable_type: 'trip/destination' }

      %h3 Dates:
      %p= link_to "Add date", new_trip_date_option_path(@trip), class: 'button'

      - @trip.date_options.each do |date|
        %p= date.range
        = render partial: "votes", locals: { votable: date, votable_type: 'trip/date_option', id_type: 'date_option' }
        = render partial: "comments", locals: { commentable: date, commentable_type: 'trip/date_option' }
