.section
  .row
    .small-12.columns
      %h2= @trip.name.to_s
      %p= @trip.description.to_s
      = link_to "Trip invites: #{@trip.invites.count} invitations", new_trip_invite_path(@trip)
  .row
    .small-8.columns
      %h3.uppercase Places:
    .small-3.columns
      = link_to "Add destination", new_trip_destination_path(@trip), class: "button right-align"
.section
  .row
    .small-12.columns
      .frame
        %ul.slidee
          = render partial: "destinations", locals: { destinations: @trip.destinations }

  .row
    .small-8.columns
      %h3.uppercase Dates:
    .small-3.columns
      = link_to "Add date", new_trip_date_option_path(@trip), class: 'button'

.section
  .row
    .small-12.columns
      .frame
        %ul.slidee
          - @trip.date_options.each do |date|
            %li
              .card
                .card-section
                  %h1= date.range
                  - if can? :destroy, date
                    = link_to 'Remove', date_option_path(date), method: :delete
                  = render partial: "votes", locals: { votable: date, votable_type: 'trip/date_option', id_type: 'date_option' }
                  = render partial: "comments", locals: { commentable: date, commentable_type: 'trip/date_option' }
