!!!
%html
  %head
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    %title TravelPlanner
    = stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800"
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js")
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Home', root_path
            %li= link_to 'My trips', trips_path
            %li= link_to 'Create a new trip', new_trip_path
            - if user_signed_in?
              %li= link_to 'Sign out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Log in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
  .container
    %p.notice= notice
    %p.alert= alert
    = yield
